<div class="container">

    <div class="actors">
        <h5>Liste des actrices</h5>

        <ul *ngFor="let actor of actress" class="list-group-flush">
            <li class="list-group-item">
                <p>{{ actor.firstname }} {{ actor.name }}</p>
                <p>{{ actor.nationality }}</p>
            </li>
        </ul>
    </div>


    <div class="actors">
        <h5>Liste des acteurs</h5>
        
        <ul *ngFor="let actor of acteur" class="list-group-flush">
            <li class="list-group-item">
                <p>{{ actor.firstname }} {{ actor.name }}</p>
                <p>{{ actor.nationality }}</p>
            </li>
        </ul>
    </div>

    <div class="bouton">
        <button class="btn btn-dark"><a href="actor/new"> Ajouter un Acteur </a></button>
    </div>

</div>