<div class="container">

    <h1>Ajouter un Genre</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Genre</label>
            <input type="text" formControlName="name" name="name" class="form-control">
        </div>

        <div class="bouton">
            <button type="submit" class="btn btn-dark">Sauvegarder</button> <button class="btn btn-dark"><a
                    href="gender">Retour</a></button>
        </div>
    </form>
</div>